.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  padding: 0 0.5rem;
  background-color: rgb(66, 66, 66);
  padding: 10px;
}

.flexdisp {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: rgb(14, 14, 14);
  color: rgb(250, 232, 28);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
