.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 14, 14);
  color: rgb(255, 217, 90);
  padding: 0 2rem;
  align-items: center;
}

.title {
  display: flex;
}

.navigation ul {
  display: flex;
  gap: 5rem;
}

.navigation ul li {
  list-style: none;
  font-size: 17px;
}

.navigation ul li a {
  text-decoration: none;
  color: rgb(255, 219, 99);
}

.image img {
  z-index: -1;
}

.navigation ul li a:hover {
  color: rgb(236, 181, 0);
  text-decoration: underline;
}

.title:hover {
  color: rgb(255, 197, 7);
  text-decoration: underline;
}
